.addFeed button {
    margin-left: auto;
    gap: 5px;
    display: flex;
    cursor: pointer;
    width: fit-content;
    background-color: #7C74ED;
    border: none;
    color: #fff;
    border-radius: 20px;
    padding: 10px 20px;
    justify-content: flex-end;
    align-items: center;
}

.addFeed button svg {
    font-size: 15px;
}
.ContentI img {
    display: flex;
    border-radius: 10px;
    height: 200px;
    object-fit: cover;
    margin-right: auto;
    object-position: center;
    min-width: fit-content;
    border: 1px solid #7a7a7a24;
    max-width: 100%;
    box-shadow: 2px -1px 18px -9px #7d74ed73;
  }
.postContent p {
    margin: 0;
    font-size: 14px;
    font-weight: 600;
  }
.newPostContent textarea {
    max-width: 98%;
    min-width: 98%;
    font-family: 'Inter';
    width: 98%;
    outline: none;
    border: none;
    resize: none;
    padding:6px;
  }
  .postButton button {
    text-transform: uppercase;
    font-weight: 800;
    cursor: pointer;
    padding: 10px 20px;
    border: none;
    background-color: #7C74ED;
    border-radius: 10px;
    color: #fff;
  }
  
  .postButton {
    text-align: right;
  }
  .attachedOptions svg {
    font-size: 19px;
    cursor: pointer;
    border: 1px solid #7d74ed;
    padding: 3px;
    border-radius: 7px;
  }
  .newPostPopup form {
    display: flex;
    flex-direction: column;
    max-height: 80vh;
}

.contentSection {
    overflow-x: hidden;
    flex-basis: 90%;
    overflow-y: auto;
}

.postButton {
    flex-basis: 10%;
}
.deleteModal {
    padding: 10px 20px;
}

.deleteModal .Instructions p {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 10px;
}

.confirmbuttons {
    gap: 10px;
    display: flex;
    justify-content: center;
}

.confirmbuttons button {
    border: none;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    padding: 10px 30px;
}

.confirmbuttons button:first-child {
    background-color: #7c74edb0;
}

.confirmbuttons button:last-child {
    background-color: red;
}
.content {
    display: flex;
    justify-content: space-between;
}

.udActions {
    display: flex;
    gap: 5px;
}

.udActions svg {
    color: #fff;
    border-radius: 4px;
    padding: 2px;
    cursor: pointer;
}

.udActions .Update svg {
    background: #7d74ed;
}

.udActions .delete svg {
    background: red;
}
.postContent h4 {
    margin: 0;
    margin-bottom: 5px;
    font-size: 20px;
}
.cropButton{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    flex: 1;
}

.imageCrop {
    padding: 10px;
}

.imageCrop .image .reactEasyCrop_Container {
    border-radius: 10px;
}
.postImage img {
    max-height: 60vh;
    object-fit: cover;
}
.cropButton button {
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
}

.cropButton button:first-child {
    background: #ff00009e;
}

.cropButton button:last-child {
    background: #7c74ed;
}
.CropA {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    gap: 30px;
    align-items: center;
    flex-wrap: wrap;
}

.ZoomRotate {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    flex: 1;
}
.insSpan {
    font-size: 12px;
    display: flex;
    width: 100%;
    padding: 0px 2px;
    flex-direction: row;
    justify-content: space-between;
}
.ZoomRotate .zoom,.ZoomRotate .rotate {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.ZoomRotate .zoom label, .ZoomRotate .rotate label {
    margin-bottom: 2px;
    font-size: 12px;
    font-weight: 600;
    padding: 0px 5px;
}

.title img {
    margin-left: auto;
    max-width: 100%;
    width: 200px;
    display: flex;
}
.postEmpty span {
    font-size: 14px;
    font-family: 'Nunito Sans';
    font-weight: 600;
}

.postEmpty {
    text-align: center;
    margin-top: 40px;
}
.newPostPopup form .contentSection .title input#heading {
    font-family: 'Nunito Sans';
    font-size: 24px;
    font-weight: 800;
}

.newPostPopup form .contentSection  textarea#newPostText {
    font-size: 14px;
    font-family: 'Nunito Sans';
    font-weight: 500;
}

.contentSection .title {
    margin-bottom: 0px !important;
}
.AppNav {
    position: fixed;
    bottom: 0px;
    height: 50px;
    border-top-right-radius: 20px;
    left: 0px;
    background: #5a05c9;
    right: 0px;
    width: 100%;
    border-top-left-radius: 20px;
}

.Menulist {
    display: flex;
    justify-content: space-around;
}

.AppMenus {
    padding: 15px 0px;
}

.AppScreeen svg {
    font-size: 20px;
    color: #fff;
}