.addFeed button {
    margin-left: auto;
    gap: 5px;
    display: flex;
    cursor: pointer;
    width: fit-content;
    background-color: #7C74ED;
    border: none;
    color: #fff;
    border-radius: 20px;
    padding: 10px 20px;
    justify-content: flex-end;
    align-items: center;
}

.addFeed button svg {
    font-size: 15px;
}
.ContentI img {
    display: flex;
    border-radius: 10px;
    height: 200px;
    object-fit: cover;
    margin-right: auto;
    object-position: center;
    min-width: fit-content;
    border: 1px solid #7a7a7a24;
    max-width: 100%;
    box-shadow: 2px -1px 18px -9px #7d74ed73;
  }
.postContent p {
    margin: 0;
    font-family: 'Nunito Sans';
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
  }
  .Location {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.Location span {
    font-family: 'Nunito Sans';
    font-size: 11px;
    font-weight: 500;
}
.newPostContent textarea {
    max-width: 98%;
    min-width: 98%;
    font-family: 'Inter';
    width: 98%;
    outline: none;
    border: none;
    resize: none;
    padding:6px;
  }
  .postButton button {
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
    font-family: 'Nunito Sans';
    padding: 10px 20px;
    border: none;
    background-color: #7C74ED;
    border-radius: 10px;
    color: #fff;
  }
  .draftedTag span {
    border-radius: 20px;
    font-size: 14px;
    font-family: 'Nunito Sans';
    font-weight: 900;
    display: block;
    width: fit-content;
    color: var(--primary-color);
    margin-bottom: 5px;
}
  .postButton {
    text-align: right;
  }
  .attachedOptions svg {
    font-size: 19px;
    cursor: pointer;
    border: 1px solid #7d74ed;
    padding: 3px;
    border-radius: 7px;
  }
  .newPostPopup form {
    display: flex;
    flex-direction: column;
    max-height: 80vh;
}

.contentSection {
    overflow-x: hidden;
    flex-basis: 90%;
    overflow-y: auto;
}

.postButton {
    flex-basis: 10%;
}
.deleteModal {
    padding: 10px 20px;
}

.deleteModal .Instructions p {
    font-family: 'Nunito Sans';
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
}

.confirmbuttons {
    gap: 10px;
    display: flex;
    justify-content: center;
}

.confirmbuttons button {
    border: none;
    border-radius: 10px;
    font-family: 'Nunito Sans';
    color: #fff;
    cursor: pointer;
    padding: 10px 30px;
}

.confirmbuttons button:first-child {
    background-color: #7c74edb0;
}

.confirmbuttons button:last-child {
    background-color: red;
}
.content {
    display: flex;
    justify-content: space-between;
}

.udActions {
    display: flex;
    gap: 5px;
}

.udActions svg {
    color: #fff;
    border-radius: 4px;
    padding: 2px;
    cursor: pointer;
}

.udActions .Update svg {
    background: #7d74ed;
}

.udActions .delete svg {
    background: red;
}
.postContent h4 {
    font-weight: 900;
    font-family: 'Nunito Sans';
    margin: 0;
    margin-bottom: 5px;
    font-size: 20px;
}
.cropButton{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    flex: 1;
}

.imageCrop {
    padding: 10px;
}

.imageCrop .image .reactEasyCrop_Container {
    border-radius: 10px;
}
.postImage img {
    max-height: 60vh;
    object-fit: cover;
}
.cropButton button {
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
}

.cropButton button:first-child {
    background: #ff00009e;
}

.cropButton button:last-child {
    background: #7c74ed;
}
.CropA {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    gap: 30px;
    align-items: center;
    flex-wrap: wrap;
}

.ZoomRotate {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    flex: 1;
}
.insSpan {
    font-size: 12px;
    display: flex;
    width: 100%;
    padding: 0px 2px;
    flex-direction: row;
    justify-content: space-between;
}
.ZoomRotate .zoom,.ZoomRotate .rotate {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.ZoomRotate .zoom label, .ZoomRotate .rotate label {
    margin-bottom: 2px;
    font-size: 12px;
    font-weight: 600;
    padding: 0px 5px;
}

.title img {
    margin-left: auto;
    max-width: 100%;
    width: 200px;
    display: flex;
}
.postEmpty span {
    font-size: 14px;
    font-family: 'Nunito Sans';
    font-weight: 600;
}

.postEmpty {
    text-align: center;
    margin-top: 40px;
}
.inputInfo {
    display: flex;
    justify-content: space-between;
}

.inputInfo span {
    font-size: 12px;
    font-weight: 600;
    font-family: 'Nunito Sans';
}

.inputInfo span:first-child {
    color: red;
}
.newPostPopup form .contentSection .title textarea#heading {
    font-family: 'Nunito Sans';
    font-size: 24px;
    font-weight: 800;
    border: none;
    resize: none;
}

.newPostPopup form .contentSection  textarea#newPostText {
    font-size: 14px;
    font-family: 'Nunito Sans';
    font-weight: 500;
}

.contentSection .title {
    margin-bottom: 0px !important;
}




.postImage .LazyPlaceHolder {
    height: 60vh;
    display: block;
    border-radius: 20px;
    width: 100%;
    background: linear-gradient(to right, #f0f0f0 8%, #e0e0e0 18%, #f0f0f0 33%);
    background-size: 800px 104px;
    animation: skeleton 1.5s linear infinite;
}
@keyframes skeleton {
    0% {
      background-position: -200px 0;
    }
    100% {
      background-position: 200px 0;
    }
  }

  
  .postImage img {
    opacity: 0;
    transition: opacity 0.5s;
  }
  
  .postImage img.loaded {
    opacity: 1;
  }
  .moreDropDropDown {
    box-shadow: 1px 0px 9px -3px #0000001a;
    width: fit-content;
    display: flex;
    position: absolute;
    top: 22px;
    padding: 10px;
    gap: 10px;
    background-color: #fff;
    flex-direction: column;
    right: 0px;
    border-radius: 10px;
}

.moreInfo svg {color: #000;}

.udActions {
    position: relative;
}
.postContent span.showMoreBtn {
    cursor: pointer;
    color: #5a05c9;
    padding-left: 5px;
    font-weight: 900;
}