@media (min-width:320px)  { 
  .feedlist,.locationDetails{
    margin-bottom: 70px;
  }
  .AppNav{
  display: block;
  }
  .Navlinks{
    display: none;
  }
    .locationDetails,.NewFeed, .feedlist,.tileMenu{
      width: 80%;
    }
    /* smartphones, iPhone, portrait 480x320 phones */ }
  @media (min-width:481px)  { 
    .locationDetails,.NewFeed, .feedlist,.tileMenu{
      width: 80%;
    }
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }
  @media (min-width:641px)  {
    .feedlist,.locationDetails{
      margin-bottom: 10px;
    }
    .AppNav{
      display: none;
      }
    .Navlinks{
      display: block;
    }
    .locationDetails,.NewFeed, .feedlist,.tileMenu{
      width: 50%;
    }
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }
  @media (min-width:961px)  { 
    .locationDetails,.NewFeed, .feedlist,.tileMenu{
      width: 40%;
    }
    /* tablet, landscape iPad, lo-res laptops ands desktops */ }
  @media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
  @media (min-width:1281px) { /* hi-res laptops and desktops */ }