

nav .logo img {
  width: 100px;
}

nav {
  padding: 10px 20px;
  display: flex;
  min-height: 40px;
  align-items: center;
  justify-content: space-between;
}

.Navlinks ul.navScreens {
  margin: 0px;
  display: flex;
  list-style: none;
  gap: 10px;
  padding: 0px;
  justify-content: center;
}

nav .logo {
  flex: 1 1;
    text-align: left;
    position: absolute;
}
.newPostPopup {
  padding: 10px 20px;
}
.imageCrop .image {
  position: relative;
  width: 100%;
  height: 200px;
}


.newPostPopup form .contentSection .title,.newPostPopup form .contentSection .newPostContent {
  gap: 5px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  text-align: left;
}

.newPostPopup form .contentSection .title label, .newPostPopup form .contentSection .newPostContent label {
  font-size: 14px;
  display: none;
  font-weight: 700;
}

.newPostPopup form .contentSection .title textarea {
  padding: 6px;
  border-radius: 10px;
  border: none;
  outline: none;
}
.Navlinks {
  flex: 1;
}
.Navlinks ul.navScreens li a.active {
  color: #000;
  border-bottom: 2px solid;
}
.Navlinks ul.navScreens li a {
  text-decoration: none;
  color: #5f5f5f;
  font-size: 14px;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
}
.location {
  border-radius: 10px;
  border: 1px solid #ddd;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  margin: 20px 0px 10px 0px;
  padding: 10px;
  flex-wrap: wrap;
}

.location .location_Details {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 5px;
}

.location .location_Details span:first-child {
  font-size: 14px;
  font-weight: 500;
  font-family: 'Nunito Sans';
}

.location .location_Details span:last-child {
  font-size: 24px;
  font-weight: 800;
  font-family: 'Nunito Sans';

}

.timestamp {
  text-align: right;
}

.timestamp span {
  font-size: 14px;
}

.timestamp span:first-child,.ld span:first-child {
  font-weight: 500;
  font-family: 'Nunito Sans';

}

.timestamp span:last-child,.ld span:last-child {
  font-weight: 700;
  font-family: 'Nunito Sans';

}

.ld span {
  font-size: 14px;
}
.locationDetails {
  margin: auto;
  margin-top: 20px;
}
.LocationDetails {
  text-align: left;
  background-color: #ddd;
  padding: 10px;
  border-radius: 10px;
}
.addphoto span {
  cursor: pointer;
  padding: 20px 10px;
  text-align: center;
  display: block;
  border: 1px dashed;
  border-radius: 20px;
}

.NewFeed,.feedlist,.tileMenu {
  width: 50%;
  margin: auto;
}
.postImage img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 1px 4px 9px -3px #0000001a;
}
.addphoto .cameraSection.notshow {
  display: none;
}

.cameraSection.show .camTopActions {
  padding: 10px;
  position: absolute;
  width: 95%;
  left: 0px;
  display: flex;
  justify-content: space-between;
}

.cameraSection.show .camTopActions svg,.cameraSection.show .mainActions svg {
  background-color: #fff;
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 1px 4px 9px -3px #00000078;
}

.cameraSection.show .mainActions {
  position: absolute;
  width: 100%;
  bottom: 10px;
  gap: 10px;
  left: 0px;
  display: flex;
  justify-content: center;
  right: 0px;
}
.PostContentArea {
  max-height: 100px;
  overflow: auto;
}
.cameraSection.show .mainActions .takePhoto .CaptureButton {
  width: 30px;
  background: #fff;
  height: 100%;
  border-radius: 10px;
}
.addphoto img {
  width: 100%;
  border-radius: 20px;
}


.cameraSection.show .mainActions .takePhoto {
  background: #ddd;
  padding: 4px;
  border-radius: 10px;
  cursor: pointer;
}
.flash.disable {
  display: none;
}
.addphoto .cameraSection{
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  width: 100%;
  z-index: 99;
  height: 100%;
}
.addphoto .cameraSection video{
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  background-color: #202124;
}
.newPostContent {
  width: 100%;
}
.postButton {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.postContent {
  margin-bottom: 10px;
  text-align: left;
}
.postEmpty span {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}
.Location span {
  color: #474747;
  font-size: 14px;
  font-weight: 600;
}
.postContent span {
  font-size: 12px;
  font-weight: 600;
  color: #474747;
}
.NewFeed form {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px;
}
.postImage img {
  width: 100%;
  border-radius: 10px;
}
.AddImage.disabled svg {
  opacity: 0.5;
}
.newPostErr span {
  display: block;
  font-family: 'Nunito Sans';
  font-size: 12px;
  font-weight: 600;
  color: red;
  text-align: center;
}
.CameraStatus span {
  font-family: 'Nunito Sans';
  background: #ff00005e;
  font-size: 12px;
  padding: 10px;
  display: block;
  margin: 10px 0px;
  border-radius: 9px;
  color: #000;
}
.feedlist .post {
  background-color: #f7f7f7;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 1px 4px 9px -3px #0000001a;
}

.feedlist {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 30px;
}


.Location {
  text-align: right;
}
.tiles {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.tiles .singleTile {
  text-decoration: none;
  border-radius: 10px;
  cursor: pointer;
  color: #000;
  padding: 10px;
}
.tileMenu {
  margin-top: 20px;
}

.AppScreeen a:after {
  left: 8%;
  right: 0px;
  content: '';
  position: absolute;
  width: 0px;
  transition: 0.3s ease;
  height: 3px;
  display: block;
  background-color: #fff;
  top: 16px;
  border-radius: 14px;
}

.AppScreeen a {
  position: relative;
  transition: 0.6s ease;
}

.AppScreeen a.active:after {
  width: 88%;
}
.spinner {
  width: 40px;
  height: 40px;
  border: 4px solid #ffffff;
  border-top: 4px solid #5a05c9;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.spinnerButton {
  width: 10px;
  display: flex;
  height: 10px;
  border: 2px solid #ffffff00;
  border-top: 2px solid #ffffff;
  border-radius: 50%;
  animation: spinButton 1s linear infinite;
}

@keyframes spin {
  0% { transform: translate(-50%, -50%) rotate(0deg); }
  100% { transform: translate(-50%, -50%) rotate(360deg); }
}
@keyframes spinButton {
  0% { transform:  rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.AppMenus {
  padding: 15px 0px;
}
.LoginChoice {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
  justify-content: center;
  gap: 10px;
}

.LoginChoice .EmailAuth, .LoginChoice .PhoneAuth {
  flex: 1;
}

.LoginChoice .EmailAuth label, .LoginChoice .PhoneAuth label {
  border-radius: 10px;
  padding: 20px;
  cursor: pointer;
  box-shadow:1px 4px 9px -3px #0000001a;
  font-size: 16px;
  font-family: 'Nunito Sans';
  font-weight: 600;
  display: block;
}
.loginPopup .LoginHead,.confirmHeading {
  margin-bottom: 20px;
}

.loginPopup .LoginHead h3,.confirmHeading h3 {
  font-size: 20px;
  font-family: 'Nunito Sans';
  font-weight: 900;
}
.LoginChoice .EmailAuth input:checked + label, .LoginChoice .PhoneAuth input:checked + label {
  background-color: var(--primary-color);
  color: #fff;
}
.loginPopup,.ConfirmEmail {
  padding: 15px;
}
.AppScreeen svg {
  font-size: 20px;
  color: #fff;
}
.AppNav {
  position: fixed;
  bottom: 0px;
  height: 50px;
  border-top-right-radius: 20px;
  left: 0px;
  background: #5a05c9;
  right: 0px;
  width: 100%;
  border-top-left-radius: 20px;
}.Menulist {
  display: flex;
  justify-content: space-around;
}
.LocationErr span {
  font-family: 'Nunito Sans';
  font-size: 14px;
  font-weight: 700;
}

.LocationErr {
  text-align: center;
}
.ChoiceInput label,.emailForm .emailInput label {
  display: block;
  font-size: 15px;
  font-family: 'Nunito Sans';
  font-weight: 700;
  margin-bottom: 5px;
}

.PhoneInput,.EmailInput ,.emailForm .emailInput{
  text-align: left;
}

.ChoiceInput input ,.emailForm .emailInput input{
  outline: none;
  padding: 8px 10px;
  border: 1px solid #d4d4d4;
  border-radius: 7px;
  width: -webkit-fill-available;
  margin-bottom: 10px;
}

.sendOtp,.sendLink,.emailForm .confirmButton ,.verifyOtpButton{
  display: flex;
  justify-content: flex-end;
}

.sendOtp button,.sendLink Button ,.emailForm .confirmButton button:last-child,.verifyOtpButton button{
  cursor: pointer;
  font-weight: 800;
  background-color: var(--primary-color);
  border: none;
  padding: 8px 20px;
  border-radius: 20px;
  color: #fff;
  display: flex;
  font-family: 'Nunito Sans';
  align-items: center;
  gap: 5px;
}
.emailForm .confirmButton button:first-child{
  cursor: pointer;
  font-weight: 800;
  background-color:#fff ;
  border: none;
  padding: 8px 20px;
  border-radius: 20px;
  color:red;
  font-family: 'Nunito Sans';
}
.FormErr span {
  font-size: 12px;
  font-family: 'Nunito Sans';
  font-weight: 700;
  color: #ff3b3b;
}
.Logout button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.Logout button svg {
  font-size: 18px;
  color: var(--primary-color);
}