@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nunito+Sans:wght@400;500;700;800&display=swap');
:root{
  --secondary-color:#8390FA;
  --primary-color: #5a05c9;
  --white-color:
}
*{
  margin: 0;
  padding: 0;
  /* font-family: 'Bebas Neue', sans-serif;
  font-family: 'Nunito Sans', sans-serif; */
}
